In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CricketStats.csv')

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+
64,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0

In [4]:
df = df.rename(columns={"NO":'NotOuts',"Mat":"Matches","HS":"HighestScore","Ave":"Avg","BF":"BallsFaced","SR":"StrikeRate"})

In [5]:
df.head()

,Player,Span,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1

In [6]:
df.isnull().any()

Player          False
Span            False
Matches         False
Inns            False
NotOuts         False
Runs            False
HighestScore    False
Avg             False
BallsFaced       True
StrikeRate      False
100             False
50              False
0               False
4s              False
6s              False
dtype: bool

In [7]:
df[df['BallsFaced'].isna()==1]

,Player,Span,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258+,2
15,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107+,11
56,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,0.0,5,6,3,51+,0

In [38]:
df['BallsFaced']=df['BallsFaced'].fillna(0)

In [39]:
df[df['Player']=="ED Weekes (WI)"]

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
8,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2,1948,1958

In [40]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
60    False
61    False
62    False
63    False
64    False
Length: 62, dtype: bool

In [41]:
df[df["Player"].duplicated()==1]

Empty DataFrame
Columns: [Player, Matches, Inns, NotOuts, Runs, HighestScore, Avg, BallsFaced, StrikeRate, 100, 50, 0, 4s, 6s, StartYear, EndYear]
Index: []

In [42]:
df[df["Player"].isin(["GS Sobers (WI)","BC Lara (ICC/WI)","V Kohli (IND)"])]

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
10,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
21,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
52,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024

In [43]:
df=df.drop_duplicates()

In [44]:
df.head()

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954

In [53]:
#df["Span"].str.split(pat='-')

In [52]:
#df['StartYear']=df["Span"].str.split(pat="-").str[0]

In [51]:
#df['EndYear']=df["Span"].str.split(pat="-").str[1]

In [18]:
df.head()

,Player,Span,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954

In [19]:
df=df.drop(['Span'],axis=1)

In [20]:
df.head()

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954

In [21]:
df

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525+,23,1965,1981
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119+,0,1924,1934
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241+,5+,1930,1938
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53+,0,1928,1934

In [ ]:
df.head()

In [ ]:
df.dtypes

In [23]:
df['HighestScore']=df['HighestScore'].str.split(pat='*').str[0]

In [24]:
df['BallsFaced']=df['BallsFaced'].str.split(pat='+').str[0]

In [25]:
df.head(2)

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626+,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023

In [26]:
df['4s']=df['4s'].str.split(pat='+').str[0]

In [27]:
df.head(5)

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954

In [28]:
df['6s']=df['6s'].str.split(pat='+').str[0]

In [29]:
df.head()

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954

In [30]:
df.dtypes

Player           object
Matches           int64
Inns              int64
NotOuts           int64
Runs              int64
HighestScore     object
Avg             float64
BallsFaced       object
StrikeRate      float64
100               int64
50                int64
0                 int64
4s               object
6s               object
StartYear        object
EndYear          object
dtype: object

In [36]:
df['HighestScore']=df['HighestScore'].astype('int')

In [48]:
df['BallsFaced']=df['BallsFaced'].astype('int')

In [49]:
df['BallsFaced']

0      9800
1      1287
2      2667
3      1707
4       416
      ...
60     8662
61    15525
62     3118
63     3217
64     2110
Name: BallsFaced, Length: 62, dtype: int64

In [50]:
df.dtypes

Player           object
Matches           int64
Inns              int64
NotOuts           int64
Runs              int64
HighestScore      int64
Avg             float64
BallsFaced        int64
StrikeRate      float64
100               int64
50                int64
0                 int64
4s               object
6s               object
StartYear        object
EndYear          object
dtype: object

In [57]:
df=df.astype({'StartYear':'int','EndYear':'int','4s':'int','6s':'int'})

In [58]:
df.dtypes

Player           object
Matches           int64
Inns              int64
NotOuts           int64
Runs              int64
HighestScore      int64
Avg             float64
BallsFaced        int64
StrikeRate      float64
100               int64
50                int64
0                 int64
4s                int64
6s                int64
StartYear         int64
EndYear           int64
dtype: object

In [59]:
df.isnull().any()

Player          False
Matches         False
Inns            False
NotOuts         False
Runs            False
HighestScore    False
Avg             False
BallsFaced      False
StrikeRate      False
100             False
50              False
0               False
4s              False
6s              False
StartYear       False
EndYear         False
dtype: bool

In [60]:
pd.set_option('display.max_rows',None)

In [63]:
df.head()

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954

In [65]:
df.drop(50,axis=0)

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968
8,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947
10,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974
12,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015
13,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930
15,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955
17,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013
18,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929
19,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024
20,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973
21,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995
23,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984
24,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951
25,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013
27,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993
28,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012
29,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010
30,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017
31,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012
32,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929
33,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002
34,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013
35,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015
36,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987
37,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004
38,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009
39,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018
40,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994
41,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024
42,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991
43,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957
44,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014
45,JE Root (ENG),140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024
46,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007
47,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963
49,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928
51,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021
52,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024
53,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015
54,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966
55,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949
56,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905
57,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934

In [66]:
# career length
df["CareerLength"]=df['EndYear']-df['StartYear']

In [68]:
df

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear,CareerLength
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13
8,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,10
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,20
10,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,20
12,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15
13,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,14
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22
15,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,12
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18
17,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18
18,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8
19,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,14
20,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5
21,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2
23,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,14
24,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16
25,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24
27,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,17
28,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16
29,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12
30,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17
31,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17
32,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,9
33,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,10
34,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8
35,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21
36,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,16
37,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19
38,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15
39,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14
40,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16
41,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,5
42,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17
43,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20
44,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17
45,JE Root (ENG),140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,12
46,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15
47,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,6
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15
49,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,17
50,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12
51,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,2
52,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,13
53,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,11
54,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,5
55,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,20
56,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,12
57,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6

In [69]:
df['CareerLength'].mean()

np.float64(13.193548387096774)

In [70]:
#avg StrikeRate for cricketers who played over 10 years
df[df['CareerLength']>10]['StrikeRate'].mean()

np.float64(47.94681818181819)

In [75]:
df[df['StartYear']<1960]['Player'].count()

np.int64(23)

In [80]:
df['Country'] = df['Player'].str.split(pat='(').str[1]

In [81]:
df['Country']

0         AUS)
1         ENG)
2         AUS)
3          SA)
4          WI)
5         ENG)
6         ENG)
7         ENG)
8          WI)
9         ENG)
10         WI)
12         SL)
13        AUS)
14        ENG)
15         WI)
16        ENG)
17     ICC/SA)
18        ENG)
19         NZ)
20         WI)
21     ICC/WI)
22        IND)
23        AUS)
24         SA)
25        IND)
27        PAK)
28    ICC/IND)
29        PAK)
30        PAK)
31        AUS)
32        AUS)
33        ZIM)
34        AUS)
35         WI)
36        IND)
37        AUS)
38        AUS)
39         SA)
40        AUS)
41         NZ)
42         WI)
43        ENG)
44         SL)
45        ENG)
46    ICC/PAK)
47        AUS)
48         WI)
49        ENG)
50    ICC/IND)
51        PAK)
52        IND)
53        AUS)
54         SA)
55         SA)
56        ENG)
57         SL)
59        AUS)
60        AUS)
61     ICC/SA)
62        AUS)
63        AUS)
64        ENG)
Name: Country, dtype: object

In [86]:
df['Country'] = df['Country'].str.split(pat='(').str[1]

In [87]:
df['Country']

0         AUS
1         ENG
2         AUS
3          SA
4          WI
5         ENG
6         ENG
7         ENG
8          WI
9         ENG
10         WI
12         SL
13        AUS
14        ENG
15         WI
16        ENG
17     ICC/SA
18        ENG
19         NZ
20         WI
21     ICC/WI
22        IND
23        AUS
24         SA
25        IND
27        PAK
28    ICC/IND
29        PAK
30        PAK
31        AUS
32        AUS
33        ZIM
34        AUS
35         WI
36        IND
37        AUS
38        AUS
39         SA
40        AUS
41         NZ
42         WI
43        ENG
44         SL
45        ENG
46    ICC/PAK
47        AUS
48         WI
49        ENG
50    ICC/IND
51        PAK
52        IND
53        AUS
54         SA
55         SA
56        ENG
57         SL
59        AUS
60        AUS
61     ICC/SA
62        AUS
63        AUS
64        ENG
Name: Country, dtype: object

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear,CareerLength,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20,AUS
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1,ENG
2,AC Voges (AUS),20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7,SA
4,GA Headley (WI),22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24,WI
5,H Sutcliffe (ENG),54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11,ENG
6,E Paynter (ENG),20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8,ENG
7,KF Barrington (ENG),82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13,ENG
8,ED Weekes (WI),48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,10,WI
9,WR Hammond (ENG),85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,20,ENG
10,GS Sobers (WI),93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,20,WI
12,KC Sangakkara (SL),134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15,SL
13,SPD Smith (AUS),109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,14,AUS
14,JB Hobbs (ENG),61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22,ENG
15,CL Walcott (WI),44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,12,WI
16,L Hutton (ENG),79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18,ENG
17,JH Kallis (ICC/SA),166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18,ICC/SA
18,GE Tyldesley (ENG),14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8,ENG
19,KS Williamson (NZ),100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,14,NZ
20,CA Davis (WI),15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5,WI
21,BC Lara (ICC/WI),131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16,ICC/WI
22,VG Kambli (IND),17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2,IND
23,GS Chappell (AUS),87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,14,AUS
24,AD Nourse (SA),34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16,SA
25,SR Tendulkar (IND),200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24,IND
27,Javed Miandad (PAK),124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,17,PAK
28,R Dravid (ICC/IND),164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16,ICC/IND
29,Mohammad Yousuf (PAK),90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12,PAK
30,Younis Khan (PAK),118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17,PAK
31,RT Ponting (AUS),168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17,AUS
32,J Ryder (AUS),20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,9,AUS
33,A Flower (ZIM),63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,10,ZIM
34,MEK Hussey (AUS),79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8,AUS
35,S Chanderpaul (WI),164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21,WI
36,SM Gavaskar (IND),125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,16,IND
37,SR Waugh (AUS),168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19,AUS
38,ML Hayden (AUS),103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15,AUS
39,AB de Villiers (SA),114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14,SA
40,AR Border (AUS),156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16,AUS
41,DJ Mitchell (NZ),23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,5,NZ
42,IVA Richards (WI),121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17,WI
43,DCS Compton (ENG),78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20,ENG
44,DPMD Jayawardene (SL),149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17,SL
45,JE Root (ENG),140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,12,ENG
46,Inzamam-ul-Haq (ICC/PAK),120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15,ICC/PAK
47,M Labuschagne (AUS),50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,6,AUS
48,FMM Worrell (WI),51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15,WI
49,CP Mead (ENG),17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,17,ENG
50,V Sehwag (ICC/IND),104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12,ICC/IND
51,Abid Ali (PAK),16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,2,PAK
52,V Kohli (IND),113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,13,IND
53,MJ Clarke (AUS),115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,11,AUS
54,KC Bland (SA),21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,5,SA
55,B Mitchell (SA),42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,20,SA
56,Hon.FS Jackson (ENG),20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,12,ENG
57,TT Samaraweera (SL),81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12,SL
59,RN Harvey (AUS),79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15,AUS
60,KD Walters (AUS),74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16,AUS
61,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12,ICC/SA
62,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10,AUS
63,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8,AUS
64,DR Jardine (ENG),22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6,ENG

In [89]:
df['Player']=df['Player'].str.split(pat='(').str[0]

In [90]:
df.head()

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear,CareerLength,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24,WI

In [92]:
df.groupby('Country')['HighestScore'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: HighestScore, dtype: int64

In [93]:
df.groupby('Country')['HighestScore'].max().to_frame('HighestInCountry').reset_index().sort_values('HighestInCountry',ascending = False)

    Country  HighestInCountry
5    ICC/WI               400
0       AUS               380
10       SL               374
11       WI               365
1       ENG               364
3   ICC/PAK               329
2   ICC/IND               319
8       PAK               313
9        SA               278
4    ICC/SA               277
6       IND               254
7        NZ               251
12      ZIM               232

In [95]:
df.groupby('Country')[['100','50','0']].mean()

               100         50          0
Country
AUS      20.625000  28.375000   8.562500
ENG      12.384615  20.846154   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000

In [96]:
df

,Player,Matches,Inns,NotOuts,Runs,HighestScore,Avg,BallsFaced,StrikeRate,100,50,0,4s,6s,StartYear,EndYear,CareerLength,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,20,AUS
1,HC Brook,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,1,ENG
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,1,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,7,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,24,WI
5,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,11,ENG
6,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,8,ENG
7,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,13,ENG
8,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,10,WI
9,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,20,ENG
10,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,20,WI
12,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,15,SL
13,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,14,AUS
14,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,22,ENG
15,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,12,WI
16,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,18,ENG
17,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,18,ICC/SA
18,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,8,ENG
19,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,14,NZ
20,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,5,WI
21,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,16,ICC/WI
22,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,2,IND
23,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,14,AUS
24,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,16,SA
25,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,24,IND
27,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,17,PAK
28,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,16,ICC/IND
29,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,12,PAK
30,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,17,PAK
31,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,17,AUS
32,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,9,AUS
33,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,10,ZIM
34,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,8,AUS
35,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,21,WI
36,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,16,IND
37,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,19,AUS
38,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,15,AUS
39,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,14,SA
40,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,16,AUS
41,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,5,NZ
42,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,17,WI
43,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,20,ENG
44,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,17,SL
45,JE Root,140,257,21,11736,254,49.72,20762,56.52,31,61,12,1280,44,2012,2024,12,ENG
46,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,15,ICC/PAK
47,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,6,AUS
48,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,15,WI
49,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,17,ENG
50,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,12,ICC/IND
51,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,2,PAK
52,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,13,IND
53,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,11,AUS
54,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,5,SA
55,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,20,SA
56,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,12,ENG
57,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,12,SL
59,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,15,AUS
60,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,16,AUS
61,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,12,ICC/SA
62,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,10,AUS
63,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,8,AUS
64,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,6,ENG

In [97]:
df.to_csv('New_Cricket_Stats.csv')